/* === GLOBALS === */

:root {
  --secondaryBackground: #edeef0;
  --listItemBackground: #dedfe3; 
  --white: #fff;
  --whiteText: #fff;
  --text: #1E1E1E;
  --tomato: #ff5945;
  --orange: #FF9E45;
  --heading: #001f52;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-size: 100%;
  color: var(--text);
  font-family:Verdana, Tahoma, sans-serif;
}

h1 {
color: var(--heading);
font-size: 2.5rem;
}


/* === CONTAINERS === */


.padding-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #121212, #001f52);
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto 100px;
  width: 550px;
  background: var(--white);
  padding: 40px 30px 20px;
  border-radius: 10px;
}

.top-container {
  padding: 30px;
  border-radius: 20px;
  border: 2px solid var(--orange);
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.bottom-container {
    margin-top: 30px;
    width: 100%;
}


/* INPUT */



input {
  padding: 16px;
  background-color: var(--secondaryBackground);
  border: none;
  border-radius: 10px;
  outline: none;
  color: var(--text);
  font-size: 1.125rem;
  margin-right: 10px;

}

button {
  border-radius: 8px;
  background-color: var(--tomato);
  color: var(--whiteText);
  font-size: 1.25rem;
  font-weight: normal;
  cursor: pointer;
  padding: 14px 20px;
  transition: transform 0.3s ease-in-out;
  border: 1px solid var(--orange);
 
}

button:hover {
  transform: scale(1.06);
}

/* === TASK LISTS=== */

#task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
  width: 100%;
  list-style: none;
 
}
 
.taskItem {
  display: flex;
  align-items: flex-start;
  gap: 10px; 
  padding: 10px;
  border-radius: 10px;
  transition: transform 0.2s ease;
  
}

.taskItem:hover {
  transform: translateY(-2px);
} 

#task-list .taskItem {
  background-color: var(--listItemBackground);
}


.task {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
}

.task p {
  white-space: normal;
  word-break: break-word;
  flex: 1;
}

/* === TASK STATE === */

.taskItem p {
  font-size: 1rem;
}

.task.completed p {
  text-decoration: line-through;
  color: #cc0000;
}

/* 
/* === ICONS === */

.taskItem img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
  flex-shrink: 0;
  transition: transform 0.2s ease;
}

.taskItem img:hover {
  transform: scale(1.2);
} */

/* === GENERAL === */
.notepad {
width: 100px;
}

  /* CONTAINERS */


/* === CSS for screens below or equal to 600px wide - mobiles in mind  === */
@media (max-width: 600px) {

}
